# Python
venv/
__pycache__/
*.pyc

# Secrets
.env

# React
frontend/node_modules/

# ML Models
agents/prediction_agent/saved_models/*.h5
agents/prediction_agent/saved_models/*.save

# Datasets
data/*.csv

# macOS
.DS_Store